{%- comment -%}-----------------------------------------------------------------
Design Pattern:
  [_addtocart]

Snippet:
  _addtocart.Liquid

Usage:
  {%- include "_addtocart", product: product, XXX -%}

Parameters:
  {product object} product [ required ]

Output:
  - The [_addtocart] module for the given product.  See the design pattern
    document for details on what this module covers.

Description:
  - The module is spec'd out in the [_addtocart] design pattern document.
  - The initial rendering of the module should follow the same logic used
    in the javascript associated with the module.  This ensures the initial
    condition will match the first iteration of the script when it executes,
    and no updates should take place from the user's point of view.
      - By contrast, consider examples across design pattern documents where
        the default value in the HTML is modified by the script as it executes.
        The page changes, things, shift, etc.  We want to avoid this.
      - See the javascript and design pattern doc to ensure they're in sync.

TODOs:
  - Move availability to its own snippet, like we did in _optiongroup.js with
    "function variantAvailability(variant) { ... }":
        function.variantAvailability.liquid
  - Figure out how to define global constants for availability.
    They need to be used inside function.variantAvailability.liquid, and by
    modules that call that snippet.
  - Make sure the value for {% _message %} is in sync with what's in JS.
    In fact, make it a localization string that's pulled both here and there.
--------------------------------------------------------------{%- endcomment -%}

{%- comment -%} beginMarker {%- endcomment %}
<!-- [_addtocartl] -->
{%- comment -%} /beginMarker {%- endcomment -%}

{%- comment -%} Set up local variables. {%- endcomment -%}
{%- assign _productid = product.id  -%}
{%- assign _variant = product.selected_or_first_available_variant -%}

{%- assign _availability = nil -%}
{%- if 0 < _variant.inventory_quantity -%}
  {%- assign _availability = "instock" -%}
{%- else -%}
  {%- if "continue" == _variant.inventory_policy -%}
    {%- assign _availability = "outofstock" -%}
  {%- elsif "deny" == _variant.inventory_policy -%}
    {%- assign _availability = "soldout" -%}
  {%- else -%}
    {%- assign _availability = "unknown" -%}
  {%- endif -%}
{%- endif -%}

{%- assign _price = nil -%}
{%- assign _compare_at_price = nil -%}
{%- assign _class_quiet = nil -%}
{%- assign _message = nil -%}
{%- if "instock" == _availability -%}
  {%- assign _price = _variant.price | money -%}
  {%- if _variant.price < _variant.compare_at_price -%}
    {%- assign _compare_at_price = _variant.compare_at_price | money -%}
  {%- endif -%}
  {%- assign _message = "&check; In Stock" -%}
{%- elsif "soldout" == _availability or "outofstock" == _availability -%}
  {%- assign _price = _variant.price | money -%}
  {%- assign _class_quiet = "_quiet" -%}
  {%- assign _message = "&cross; Not available" -%}
{%- endif -%}

{%- assign _f_instockalert_id = "_f-instockalert" | append: global_idcounter -%} {%- comment -%} e.g. "_f-instockalert8" {%- endcomment -%}
{%- assign global_idcounter = global_idcounter | plus: 1 -%} {%- comment -%} Always increment it after using it. {%- endcomment -%}
{%- assign _f_product_id = "_f-product" | append: global_idcounter -%} {%- comment -%} e.g. "_f-product7" {%- endcomment -%}
{%- assign global_idcounter = global_idcounter | plus: 1 -%} {%- comment -%} Always increment it after using it. {%- endcomment -%}

{%- comment -%}{%- endcomment %}
<div class="_addtocart _js-addtocart" data-u-productid="{{- _productid -}}">

  <div class="_info">
    <div class="_compare _js-addtocart-info-compare">{{- _compare_price -}}</div>
    <div class="_price _js-addtocart-info-price {{ _class_quiet }}">{{- _price -}}</div>
    <div class="_message _js-addtocart-info-message">{{- _message -}}</div>
  </div>

  <div class="_request">
    <div class="_product _js-addtocart-request-product">
      <button type="submit" form="{{- _f_product_id -}}">Add to Cart</button>
    </div>
    <div class="_instockalert _js-addtocart-request-instockalert">
      <input type="email" form="{{- _f_instockalert_id -}}" name="contact[email]" placeholder="E-mail address" required />
      <button type="submit" form="{{- _f_instockalert_id -}}">Get In-Stock Alert</button>
    </div>
  </div>

  {% form "contact", id: _f_instockalert_id, class: "_js-addtocart-form-instockalert" %}
    <input type="hidden" form="{{- _f_instockalert_id -}}" name="contact[body]" value="In-Stock Alert" />
    <input type="hidden" form="{{- _f_instockalert_id -}}" name="contact[title]" value="{{- product.title -}}" />
    <input type="hidden" form="{{- _f_instockalert_id -}}" name="contact[availability]" value="{{- _availability -}}" class="_js-addtocart-form-instockalert-availability" />
    {%- for _option in product.options_with_values %}
    <input type="hidden" form="{{- _f_instockalert_id -}}" name="contact[{{- _option.name -}}]" value="{{- _option.selected_value -}}" class="_js-addtocart-form-instockalert-option" data-u-name="{{- _option.name -}}" />
    {%- endfor -%}

    {%- if form.posted_successfully? %}
    <div class="_response _js-addtocart-response">
      <div class="_success">
        Success!
        <br/><br/>
        We will send you e-mail when the item is in stock.
        <br/><br/>
        <button type="button">Dismiss</button>
      </div>
    </div>
    {%- endif -%}

    {%- if form.errors %}
    <div class="_response _js-addtocart-response">
      <div class="_error">
        Error! Please try again.
        {{ form.errors | default_errors }}
        <button type="button">Dismiss</button>
      </div>
    </div>
    {% endif %}
  {% endform %}

  {% form "product", product, id: _f_product_id %}
    <fieldset class="no-js">
      <legend>Product</legend>
      <select data-product-select name="id" form="{{- _f_product_id -}}">{% for variant in product.variants %}
        <option value="{{ variant.id }}" {%- if variant == product.selected_or_first_available_variant %} {{ "selected" -}} {% endif -%} {%- unless variant.available %} {{ "disabled" -}} {% endunless -%}>
          {{--}}({{- variant.id -}}) - {{ variant.title }} - {{ variant.price | money -}} {%- if variant == product.selected_or_first_available_variant %} {{- "[*]" -}} {%- endif -%}
        </option>
        {%- endfor %}
      </select>
    </fieldset>
  {% endform %}
</div>

{%- comment -%} Clean up local variables. {%- endcomment -%}
{%- assign _type = nil -%}
{%- assign _productid = nil -%}
{%- assign _variant = nil -%}
{%- assign _availability = nil -%}
{%- assign _price = nil -%}
{%- assign _compare_at_price = nil -%}
{%- assign _class_quiet = nil -%}
{%- assign _message = nil -%}

{%- comment -%} endMarker {%- endcomment %}
<!-- /[_addtocart] -->
{% comment -%} /endMarker {%- endcomment -%}
