{%- comment -%}-----------------------------------------------------------------
Design Pattern:
  [_header]

Snippet:
  _header.Liquid

Usage:
  {%- include "_header" -%}

Parameters:
  none

Output:
  - The [_header] structure. See the [_header] design patterns doc for details.

Description:
  - The function is pretty much filling in a pre-defined template.
    See the [_header] design patterns document for details.

TODOs:
- Add ARIA tags and elements.
- Consider using <itemscope> and <itemtype> - see Google dev docs.
- Update "role" attribute for each section
  See https://stackoverflow.com/questions/4170356/what-values-can-the-html5-xhtml-role-attribute-have
- Create nested menus.
  See https://help.shopify.com/themes/development/building-nested-navigation
- Review proper use of <nav> tags on all appropriate elements.
    - Do we apply <nav> to the entire header, or just to the menu links?
    - What do we use for everything else?
- The link to the cart was hardcoded with href="/cart".  Check if this is the correct way of doing so.
- Clean up HTML code rendering of white-spaces.
--------------------------------------------------------------{%- endcomment -%}

{%- comment -%} Main routine. {%- endcomment -%}

<style>
  ._x-header { width: 100%; }
  ._x-header ._xscrollarea { height: 3rem; background: honeydew; border: solid 1px green; opacity: 0.5; z-index: 1; }
  ._x-header ._xstickyarea { height: 4rem; background: lavenderblush; border: solid 1px pink; }
  ._x-header ._xstickyarea ._xdrawers ._xspacer { outline: dashed 1px blue; background: azure; }
  ._x-header ._xstickyarea ._xdrawers ._xmenu { outline: dashed 1px orange; background: lightyellow; }

  #shopify-section-header { display: contents; }
  [data-section-id="header"] { display: contents; }
  ._x-header { display: contents; }

  ._x-header ._xstickyarea { position: sticky; top: 0; }
  ._x-header ._xscrollarea { position: absolute; top: 0; left: 10rem; }

  ._x-header ._xstickyarea ._xdrawers { display: flex; flex-flow: column; width: 100px; max-height: 85vh; }
  ._x-header ._xstickyarea ._xdrawers ._xspacer { flex-shrink: 0; }
  ._x-header ._xstickyarea ._xdrawers ._xmenu { flex-shrink: 1; overflow-y: auto; padding: 0.25rem 0; }
</style>
<div class="_x-header">
  <div class="_xstickyarea">
    <div class="_xdrawers">
      <div class="_xspacer">
        [position: sticky;]
      </div>
      <div class="_xmenu">
        a<br/>b<br/>c<br/>d<br/>e<br/>f<br/>g<br/>h<br/>i<br/>j<br/>k<br/>l<br/>m<br/>n<br/>o<br/>p<br/>q<br/>r<br/>s<br/>t<br/>u<br/>v<br/>w<br/>x<br/>y<br/>z<br/>1<br/>2<br/>3<br/>4<br/>5<br/>6<br/>7<br/>8<br/>9<br/>0
      </div>
    </div>
  </div>
  <div class="_xscrollarea">
    [position: absolute;]
  </div>
</div>

{%- comment -%}
<header class="_js-header">
  <div class="_navbar _js-navbar">
    <div class="_links">
      <ul>
        <li>
          <button class="_js-button-menu"> Menu </button>
        </li>
        <li class="_bp-navbarlink-women">
          <a href="#">Women</a>
        </li>
        <li class="_bp-navbarlink-men">
          <a href="#">Men</a>
        </li>
        <li class="_bp-navbarlink-search">
          <button class="_js-button-search"> Search </button>
        </li>
      </ul>
    </div>
    <div class="_logo"> ML#Closet </div>
    <div class="_links">
      <ul>
        <li class="_bp-navbarlink-signin">{{ "Login" | customer_login_link }}</li>
        <li><a href="/cart">{{ "layout.cart.title" | t }} ({{ cart.item_count }})</a></li>
      </ul>
    </div>
  </div>
  <div class="_navbar _mini _js-mininavbar">
    <div class="_links">
      <ul>
        <li>
          <button class="_js-button-menu"> Menu </button>
        </li>
      </ul>
    </div>
    <div class="_logo">
      ML#Closet
    </div>
    <div class="_links">
      <ul>
        <li><a href="/cart">{{ "layout.cart.title" | t }} ({{ cart.item_count }})</a></li>
      </ul>
    </div>
  </div>
  <div class="_menudrawer _js-drawer-menu">
    [menuDrawer]
    <hr/>
    {%- include "_menu", list: linklists.header-navbar -%}
    <hr/>
    {%- include "link-list", list: linklists.header-drawer -%}
    <hr/>
    {%- include "link-list", list: linklists.footer -%}
    <hr/>
    <ul>
      <li> class="_bp-menulink-women" Women </li>
      <li> class="_bp-menulink-men" Men </li>
      <li> class="_bp-menulink-search" Search </li>
      <li> class="_bp-menulink-signin" Sign-in </li>
    </ul>
    <hr/>
    [/menuDrawer]
  </div>
  <div class="_overlaydrawer _js-drawer-overlay"></div>
  <div class="_cart-drawer _js-cart-drawer"></div>
  <div class="_search-drawer _js-search-drawer"></div>
  <!-- TODO --
  <div class="_messagebar"></div>
  <!---->
</header>
{%- endcomment -%}
