<div class="_debug-info">
  <h1>{{ product.title }}</h1>

  <p>All product info (Type = {String, Number, Boolean, Nil, Array, EmptyDrop} )</p>
  <table>
    <thead>
      <tr><td>Attribute</td><td>Type</td><td>Output</td>
      </tr>
    </thead>
    <tbody>
      <tr><td>{{ "product.title" }}</td><td>String</td><td>{{ product.title }}</td></tr>
      <tr><td>{{ "product.type" }}</td><td>String</td><td>{{ product.type }}</td></tr>
      <tr><td>{{ "product.url" }}</td><td>String</td><td>{{ product.url }}</td></tr>
      <tr><td>{{ "product.vendor" }}</td><td>String</td><td>{{ product.vendor }}</td></tr>
      <tr><td>{{ "product.available" }}</td><td>Boolean</td><td>{{ product.available }}</td></tr>
      <tr><td>{{ "product.compare_at_price_max" }}</td><td>Number</td><td>{{ product.compare_at_price_max }}</td></tr>
      <tr><td>{{ "product.compare_at_price_min" }}</td><td>Number</td><td>{{ product.compare_at_price_min }}</td></tr>
      <tr><td>{{ "product.compare_at_price_varies" }}</td><td>Number</td><td>{{ product.compare_at_price_varies }}</td></tr>
      <tr><td>{{ "product.content" }}</td><td>String</td><td>{{ product.content }}</td></tr>
      <tr><td>{{ "product.description" }}</td><td>String</td><td>{{ product.description }}</td></tr>
      <tr><td>{{ "product.featured_image" }}</td><td>String</td><td>{{ product.featured_image }}</td></tr>
      <tr><td>{{ "product.handle" }}</td><td></td><td>{{ product.handle }}</td></tr>
      <tr><td>{{ "product.has_only_default_variant" }}</td><td>Boolean</td><td>{{ product.has_only_default_variant }}</td></tr>
      <tr><td>{{ "product.id" }}</td><td></td><td>{{ product.id }}</td></tr>
      <tr><td>{{ "product.price" }}</td><td></td><td>{{ product.price }}</td></tr>
      <tr><td>{{ "product.price_max" }}</td><td></td><td>{{ product.price_max }}</td></tr>
      <tr><td>{{ "product.price_min" }}</td><td></td><td>{{ product.price_min }}</td></tr>
      <tr><td>{{ "product.price_varies" }}</td><td>Boolean</td><td>{{ product.price_varies }}</td></tr>
      <tr><td>{{ "product.template_suffix" }}</td><td></td><td>{{ product.template_suffix }}</td></tr>
      <tr><td>{{ "product.collections" }}</td><td>Array</td><td>[{{ product.collections.size }}]: {% for collection in product.collections %} [ {{ collection.title }} ] {% endfor %}</td></tr>
      <tr><td>{{ "product.images" }}</td><td>Array</td><td>[{{ product.images.size }}]: {% for image in product.images %} [ <img src="{{ image.src | img_url: "pico" }}"> ] {% endfor %}</td></tr>
      <tr><td>{{ "product.options" }}</td><td>Array</td><td>[{{ product.options.size }}]: {% for option in product.options %} [ {{ option }} ] {% endfor %}</td></tr>
      <tr><td>{{ "product.options_with_values" }}</td><td>Array</td>
        <td>
          [{{ product.options_with_values | json }}]
          <br/><br/>
          [product.options_with_values.size={{ product.options_with_values.size }}]:
          <ul>
            {% for option in product.options_with_values %}
              <li>option [{{ forloop.index0 }}]=[{{ option | json }}]
                <ul>
                  <br/>
                  <li>option.name=[{{ option.name }}]</li>
                  <li>option.position=[{{ option.position }}]</li>
                  <li>option.selected_value=[{{ option.selected_value }}]</li>
                  <li>option.values.size=[{{ option.values.size }}]</li>
                  <li>option.values=[{{ option.values | json }}]:</li>
                  <br/>
                    <ul>
                      {% for value in option.values %}
                        <li>option.values[{{ forloop.index0 }}]=[{{ value }}]</li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
              </li>
              <br/>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr><td>{{ "product.tags" }}</td><td>Array</td><td>[{{ product.tags.size }}]: {% for tag in product.tags %} [ {{ tag }} ] {% endfor %}</td></tr>
      <tr><td>{{ "product.variants" }}</td><td>Array</td>
        <td>
          [{{ product.variants.size }}]:
          <ul>
            {% for variant in product.variants %}
              <li>[ .id=({{ variant.id }}) .title=({{ variant.title }}) .image.size=({{ variant.image.size }}) ({{ variant }})]</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr><td>{{ "product.selected_variant" }}</td><td>Object</td><td>.id=({{ product.selected_variant.id }}), .title=({{ product.selected_variant.title }})</td></tr>
      <tr><td>{{ "product.first_available_variant" }}</td><td>Object</td><td>.id=({{ product.first_available_variant.id }})</td></tr>
      <tr><td>{{ "product.selected_or_first_available_variant" }}</td><td>Object</td><td>.id=({{ product.selected_or_first_available_variant.id }})</td></tr>
      <tr>
        <td>Product Breadcrumb 1 (test)</td>
        <td>n/a</td>
        <td>
          {% for link0 in linklists["full-shop-menu"].links %}
            <br/>{{ link0.title }}
            {% if true == link0.active %} [0+] {% endif %}
            {% if true == link0.child_active %} [0*] {% endif %}
            {% if true == link0.current %} [0x] {% endif %}
            {% for link1 in link0.links %}
              <br/>-&nbsp;-&nbsp;{{ link1.title }}
              {% if true == link1.active %} [1+] {% endif %}
              {% if true == link1.child_active %} [1*] {% endif %}
              {% if true == link1.current %} [1x] {% endif %}
              {% for link2 in link1.links %}
                <br/>-&nbsp;-&nbsp;-&nbsp;-&nbsp;{{ link2.title }}
                {% if true == link2.active %} [2+] {% endif %}
                {% if true == link2.child_active %} [2*] {% endif %}
                {% if true == link2.current %} [2x] {% endif %}
                {% for link3 in link2.links %}
                  <br/>-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;{{ link3.title }}
                  {% if true == link3.active %} [3+] {% endif %}
                  {% if true == link3.child_active %} [3*] {% endif %}
                  {% if true == link3.current %} [3x] {% endif %}
                {% endfor %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Product Breadcrumb 2 (test)</td>
        <td>n/a</td>
        <td>
          {% for link0 in linklists["full-shop-menu"].links %}
            <br/>{{ link0.title }}
            {% for collection in product.collections %}
              {% if collection.handle == link0.object.handle %} [*] {% endif %}
            {% endfor %}

            {% for link1 in link0.links %}
              <br/>-&nbsp;-&nbsp;{{ link1.title }}
              {% for collection in product.collections %}
                {% if collection.handle == link1.object.handle %} [*] {% endif %}
              {% endfor %}

              {% for link2 in link1.links %}
                <br/>-&nbsp;-&nbsp;-&nbsp;-&nbsp;{{ link2.title }}
                {% for collection in product.collections %}
                  {% if collection.handle == link2.object.handle %} [*] {% endif %}
                {% endfor %}

                {% for link3 in link2.links %}
                  <br/>-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;{{ link3.title }}
                  {% for collection in product.collections %}
                    {% if collection.handle == link3.object.handle %} [*] {% endif %}
                  {% endfor %}

                {% endfor %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Collection Breadcrumb 1 (hardcoded)</td>
        <td>n/a</td>
        <td>
          {% for link0 in linklists["full-shop-menu"].links %}
            <br/>{{ link0.title }}
            {% if link0.active %} [+] {% endif %}
            {% if link0.child_active %} [*] {% endif %}

            {% for link1 in link0.links %}
              <br/>-&nbsp;-&nbsp;{{ link1.title }}
              {% if link1.active %} [+] {% endif %}
              {% if link1.child_active %} [*] {% endif %}

              {% for link2 in link1.links %}
                <br/>-&nbsp;-&nbsp;-&nbsp;-&nbsp;{{ link2.title }}
                {% if link2.active %} [+] {% endif %}
                {% if link2.child_active %} [*] {% endif %}

                {% for link3 in link2.links %}
                  <br/>-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;{{ link3.title }}
                  {% if link3.active %} [+] {% endif %}
                  {% if link3.child_active %} [*] {% endif %}

                {% endfor %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Collection Breadcrumb 2 (global var)</td>
        <td>n/a</td>
        <td>
          {% assign shopping_menu = settings.global_shopping_menu %}
          <br/>Shopping Menu Handle: [{{ shopping_menu | json }}]
          {% for link0 in linklists[shopping_menu].links %}
            <br/>{{ link0.title }}
            {% if link0.active %} [+] {% endif %}
            {% if link0.child_active %} [*] {% endif %}

            {% for link1 in link0.links %}
              <br/>-&nbsp;-&nbsp;{{ link1.title }}
              {% if link1.active %} [+] {% endif %}
              {% if link1.child_active %} [*] {% endif %}

              {% for link2 in link1.links %}
                <br/>-&nbsp;-&nbsp;-&nbsp;-&nbsp;{{ link2.title }}
                {% if link2.active %} [+] {% endif %}
                {% if link2.child_active %} [*] {% endif %}

                {% for link3 in link2.links %}
                  <br/>-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;-&nbsp;{{ link3.title }}
                  {% if link3.active %} [+] {% endif %}
                  {% if link3.child_active %} [*] {% endif %}

                {% endfor %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>

  <br/><br/>

  <p>All product images</p>
  <table>
    <thead>
      <tr>
        <td>image</td>
        <td>image.src</td>
        <td>image.alt</td>
        <td>image.position</td>
        <td>image.id</td>
        <td>image.product_id</td>
        <td>image.height</td>
        <td>image.width</td>
        <td>image.aspect_ratio</td>
        <td>image.attached_to_variant?</td>
        <td>image.src | img_url: "pico"</td>
      </tr>
    </thead>
    <tbody>
      {% for image in product.images %}
      <tr>
        <td nowrap><img src="{{ image.src | img_url: "pico" }}"></td>
        <td nowrap>{{ image.src }}</td>
        <td nowrap>{{ image.alt }}</td>
        <td nowrap>{{ image.position }}</td>
        <td nowrap>{{ image.id }}</td>
        <td nowrap>{{ image.product_id }}</td>
        <td nowrap>{{ image.height }}</td>
        <td nowrap>{{ image.width }}</td>
        <td nowrap>{{ image.aspect_ratio }}</td>
        <td nowrap>{{ image.attached_to_variant? }}</td>
        <td nowrap>{{ image.src | img_url: "pico" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
